@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

 


  /* ======= Homepage Image Animation style ======= */
.ripple-animation,
.morp-ani {
    --morp-value: 66% 24% 44% 56% / 44% 24% 70% 56%;
    --morp-md-value: 43% 38% 39% 35% / 44% 39% 43% 56%;
    --morp-time: 8s;
    --morp-spin-time: 20s;
    animation: morpspin var(--morp-spin-time) linear infinite reverse
}
.morp-ani:before {
    -webkit-animation: vsmorph var(--morp-time) ease-in-out infinite both alternate;
    animation: vsmorph var(--morp-time) ease-in-out infinite both alternate
}
.transform-banner img {
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
    animation: border-transform 10s linear infinite alternate forwards;
    border-radius: 100%
}
@-webkit-keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    30% {
        opacity: 0.40
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}
@keyframes ripple {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }

    30% {
        opacity: 0.40
    }

    100% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0
    }
}
@-webkit-keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes morph {
    0% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes vsmorph {
    0% {
        border-radius: var(--morp-value)
    }

    50% {
        border-radius: var(--morp-md-value)
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes vsmorph {
    0% {
        border-radius: var(--morp-value)
    }

    50% {
        border-radius: var(--morp-md-value)
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes vsheromorph {
    0% {
        border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
    }

    50% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@keyframes vsheromorph {
    0% {
        border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
    }

    50% {
        border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
    }

    100% {
        border-radius: 40% 60%
    }
}
@-webkit-keyframes morpspin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@keyframes morpspin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
@-webkit-keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
    }
}
@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
    }

    14% {
        border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
    }

    28% {
        border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
    }

    42% {
        border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
    }

    56% {
        border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
    }

    70% {
        border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
    }

    84% {
        border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
    }
}


/* ======= Cursor & Drag style  ======= */
.cursor {
  position: fixed;
  top: -40px;
  left: -40px;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
}
.cursor:before {
  content: "";
  width: 75px;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  border: 1px solid white;
  transition: all ease 0.15s;
  transform: scale(0.15);
}
.cursor.light:before {
  transform: scale(1);
  background: transparent;
}
.cursor.drag {
  mix-blend-mode: unset;
}
.cursor.drag:before {
  transform: scale(1);
  background: #18191d;
  border-color: transparent;
}
.cursor.drag:before {
  content: "\e658";
  font-family: "Themify";
  font-size: 20px;
  color: #fff;
}
.line {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
